
	<div class= "row container-fluid">
		<div class= "col-md-8 text-center">
				<h1>Users</h1>
				<hr>
				<%= render "form" %>
		</div>
		
		<div class="col-md-4 text-center">
			<img src="http://placehold.it/350x500">
		</div>

	</div>

