
	<div class= "row">
		<div class="col-md-2"></div>
		<div class= "col-md-5 text-center">
				<h3>Users</h3>
				<hr>
				<%= render "form" %>
		</div>
		
		<div class="col-md-5 text-center">
	
		</div>

	</div>

