<div class="container fluid user_info">
	<div class="row">
		<div class="col-md-4">
				<h3> Profile Page </h3>
				<hr>
				<p> User :  <%= current_user.user_name%> </p>
				<p> Email Address : <%= current_user.email %> </p>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
