



<div class="row search_bar_row">
 <%= form_tag(posts_path, {method: :get, authentication: false, class: "navbar-form search_bar", role:"search", id:"search-form"}) do %>
 			<button type="submit" class="btn btn-primary btn-sm search_button">Search : </button>
      <%= text_field_tag :search, params[:search], :class => "form-control" %>
      <% end %>
</div>

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<% if @category %>
		<h3 class="category_name"><%= @category.name%></h3>
		<% else %>
		<h3 class="category_name">All</h3>
		<% end %>
	</div>
	<div class="col-md-4"></div>
</div>

<div id="posts">
	<%= render "post" %>
</div>




