

<div class="row">
	<div class="col-md-2"></div>
	<div class="container-fluid col-md-4 text-center">
		<h3>Post</h3>
		<hr>
		<%= render "form" %>
	</div>
	<div class="container-fluid col-md-6">
	<div>
</div>