<div class = "container-fluid">
	<div class = "row">
		<div class = "col-md-3">
		</div>
		<div class = "col-md-5 post_wrapper text-center">
			<p class="post_title"> Title : <%= @post.title %> </p>
			<img src = "<%= @post.source %>" class="post_pic">
		</div>
		<div class="col-md-3">
		</div>
</div>
</div>