/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.new_sessions_row{
	margin-top:6em;
}

body {
	background-color:black;
	color:grey;
}

main {
	min-height:1300px;
}

ul{

	list-style-type: none;
}


.field_with_errors {
  margin: 0;
  padding: 0;
  display: inline; 
}

#sign_in_as{
	margin:1.2em ;
}

#img {
	width:100%;
	height:auto;
	margin-top:0px;
}

#my{
	color:#f0ad4e;
}

.navbar{
	margin:0px;
	font-size:.85em;
	height:60px;
}

.navbar a:hover{
	color:#428bca !important;
}

.catch-container {
	position: relative;
}

.catch-container .btn {
	position: absolute;
	right: 100px;
	bottom: 85px;
}

.post_pic{
	max-width:100%;
	margin-bottom:2em;

}

.post_pic1{
	max-width:100%;
	margin-bottom:2em;

}

.img_wrapper{
	margin:auto;
}

.post_wrapper{
	margin:1.1em 2em 4em;
	box-shadow:0px 0px 40px 0px grey;
	-webkit-transition: all 1s ease;
}

.post_wrapper:hover{
 -webkit-transform: scale(.95,.95);
}

.post_wrapper_in_show {
	border-top: 2px solid #dddddd;	
	margin:6em 0 1em;

}

.post_title{
	text-align: center;
	margin-top:2em;
	color:white;
}

.form-control{
	font-size:11px;
}

.navbar-brand {
	border-right: 1px solid grey;
	height:100%;
}

.form-control {
	height:25px;
}

.added_on {
	font-size:.50em;
}

.comment_container {
	border-bottom:1px solid #E68A00;
	padding:1em;
}

.comment_label{
	margin-right:2em;
	margin-bottom:2em;
}

.comment_submit{
	margin-left:2em;
}

.comment_description{
	margin-top:1em;
}

.upvote_button, .downvote_button {
	margin-top:1em;
}

.points{
	margin-top:2.3em;
}

.navbar-form {
	margin-top:1em;
}


.sidebar {

	margin-top:6em;
	/*border-right: 2px solid #428bca;*/
	height:600px;

}

.nav-pills{
	margin-top:5em;
}

.sidebar_links {
	color:grey;
}

a.sidebar_links:hover{
	color: #428bca;
	background-color:black !important;
}

.user_info{
	margin-top: 5em
}

.thumb_img{
	margin:.6em 0 .5em 1.7em;
	-webkit-border-radius: 50em;
	border: 1px solid black;
	overflow:hidden;
	max-width:50px;
}

.profile_img {
	-webkit-border-radius: 2em;
	width:100%;
	margin:auto;
}

	.pagination a {
		background-color:black !important;
		color:grey;
		border-color:black !important;

	}

	.pagination .active a{
		background-color:#428bca !important;
		border-color:black;
		color:white;
	}

	.pagination .active a:hover {
		border-color:#dddddd;
	}

	.page_links{
		margin-top:3em;
	}

	.navbar-bottom {
		height:9em;
	}

	.reply_button {
		margin-top:1em;
		color:white !important;
		background-color:black !important;

	}

	.reply_button:hover {
		background-color: #333333 !important ;
	}


	
	.comment_form{
		margin-bottom:3em;
	}

	.btn {
		color:#dddddd;
	}

.all_comments_container {
	margin-bottom:3em;
	margin-top:3em;
}

.logo{
	height:30px;
	width:auto;
	margin:0 1em 0 1em ;
}

h3{
	color:white;
	margin-bottom:3em;
}

.container_row{
	margin-bottom:4em;
}

.nested_comments {
	height:54px;
	border-bottom:1px solid #428bca;
	
}

.nested_comment_text {
	display:block;
	margin-top:1em;
}

.catch_img {
	max-width:100%;
}

.navbar-collapse {
	background-color:black;
}

.dropdown-menu{
	background-color:black;
}

.dropdown_links{
	color:grey !important;
}

@media (max-width:900px)  {

	#notice {
		padding-top:3em;
		margin-left:2.7em;
	}

	.nested_comment_row {
		margin-left:2.2em;
	}

	.sidebar, .catch_img{
		display:none;
	}
	
	.post_wrapper{
		margin:none;
	}

	.search_bar {
		width:100%;
	}

	.navbar-fixed-top{
		text-align:center;
	}

	.thumb_img {
		margin:auto;
		margin-top: 1em ;
		margin-bottom: 1em;
	}

	.navbar-form{
		margin:auto;
	}

	.pagination1 {
		text-align: center;
	}

	.comment_container{
		text-align:center;
	border:none;
	color:white;
	border-top:1px solid grey;

		margin-bottom:1em;
	}

	.nested_comments {
		width:60%;
		margin:auto;
		border:none;
		margin-bottom:1em;
		color:grey;
		text-align: left;	
	}

	.comment_label{
		margin-left:3.5em;
	}

	h3{
		padding-top:2em;
	}

	.dropdown_links{
		text-align:center;
	}
	.dropdown-menu {
		border-top:1px solid white !important;
		border-bottom: 1px solid white !important;
	}

	#search {
		width:70% !important;
	}

	.nested_comments2{
		border:none !important 	;
	}
}


.comment_reply {
	margin-top:2.3em;
}

.nested_comments2{
	border-bottom:1px solid white;
}

.submit_post_btn{
	color:white !important;
}

.nested_comment_row , .nested_comment_row2 {
	margin-bottom: 1.5em;
}


.category_name {
	margin:1.5em;
}

.points {
	font-size: .75em;
	color:white;
	font-style: bold;
}

.search_bar_row {
	margin-bottom:5em;
}

#search {
	width:30%;
	background-color:black;
	border:none;
	border-bottom:1px solid #428bca;
	border-radius: 0px;
}

#search:focus{
	box-shadow:none;
}

.search_button {
	margin-right:2em;
	color:grey !important;
	background-color:black !important;
	border:none !important;
}

.search_button:hover {
	color:white !important;
	}

.glyphicon-chevron-up{
	color:#428bca;
}

.glyphicon-chevron-down{
	color:#428bca;
}

.glyphicon:hover{
	color:white !important;
}

.arrow {
	background-color:black;
}

#notice{
	margin-top:2em;
	color:orange;
	font-size:1.5em;
}