/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color:white;
	color:grey;
}

ul{

	list-style-type: none;
}


.field_with_errors {
  margin: 0;
  padding: 0;
  display: inline; }

#sign_in_as{
	margin:1.5em ;
}
/*
.navbar-default{
	background-color:#0088cc;
	color:white;
}

.navbar-default .navbar-nav li a{
	color:white;
}



.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color:#5e5e5e;
}
*/
#img {
	width:100%;
	height:auto;
	margin-top:0px;
}

#my{
	color:orange;
}

.navbar{
	margin:0px;
	font-size:.85em;
}

.catch-container {
	position: relative;
}

.catch-container .btn {
	position: absolute;
	right: 100px;
	bottom: 85px;
}

.post_pic{
	max-width:100%;
	margin: 2em 0 2em 0em;

}

.img_wrapper{
	margin:auto;
}

.post_wrapper{
/*	border-bottom: 2px solid blue;*/
	border-top: 2px solid orange;
	margin: 2em 3.5em 0;
}

.post_title{
	text-align: center;
	margin-top:2em;
}

.form-control{
	font-size:11px;
}

.navbar-brand {
	border-right: 1px solid grey;
}

.form-control {
	height:25px;
}

.added_on {
	font-size:.50em;
}

.comment_container {
	border-bottom:1px solid #428bca;
	padding:1em;
}

.comment_label{
	margin-right:2em;
	margin-bottom:2em;
}

.comment_submit{
	margin-left:2em;
}

.comment_description{
	margin-top:1em;
}

.upvote_button, .downvote_button {
	margin-top:1em;
}

.points{
	margin-top:1.2em;
}

.navbar-form {
	margin-top:1em;
}


.sidebar {

	margin-top:3em;
	border-right: 2px solid orange;
	height:800px;

}

.nav-pills{
	margin-top:5em;
}

.sidebar_links {
	color:grey;
}

a.sidebar_links:hover{
	color:orange;
}

.user_info{
	margin-top: 5em;
}

.thumb_img{
	margin:.6em 0 .5em 1.7em;
	-webkit-border-radius: 50em;
	border: 1px solid white;
	overflow:hidden;
}

.profile_img {
	border:2px solid #428bca;
	-webkit-border-radius: 2em;}

	.pagination a {
		color:grey !important;
	}

	.pagination .active a{
		background-color:orange !important;
		border-color:#dddddd;
	}

	.page_links{
		margin-top:3em;
	}